<ion-header>
  <ion-navbar>
      <ion-row>
        <ion-col col-6><ion-title>Home</ion-title></ion-col>
        <ion-col col-6 style="float:right"><button style="float:right" ion-button color="default" outline (click)="logout()" >Logout</button></ion-col>
      
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Take a photo!</h2>
  <p>
    Take a photo of current products inside shop. Our algorithms allows to check if everything is on right place.
  </p>
  <button ion-button full (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>&nbsp;Take Photo
  </button>

  <button ion-button full (click)="selectPhotoFromGallery()">
      <ion-icon name="camera"></ion-icon>&nbsp;Select from gallery
    </button>
  

  <ion-grid  *ngIf="photo">
    <ion-row>
      <ion-card class="block">
        <img [src]="photo" *ngIf="photo" />
        <button ion-button color="default" outline (click)="sendPhoto()" >Send</button>
        <button ion-button  color="danger" (click)="deletePhoto()">Remove</button>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>