<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Take a photo!</h2>
  <p>
    Take a photo of current products inside shop. Our algorithms allows to check if everything is on right place.
  </p>
  <button ion-button full (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>&nbsp;Take Photo
  </button>


  <ion-grid  *ngIf="photo">
    <ion-row>
      <ion-card class="block">
        <img [src]="photo" *ngIf="photo" />
        <button ion-button color="default" outline (click)="sendPhoto()" >Send</button>
        <button ion-button  color="danger" (click)="deletePhoto()">Remove</button>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>